{% extends "base.html" %}

{% block content %}
<h1>Prints</h1>

<a href="prints/new">New Print</a>

<ul>
    {% for print in all_prints %} 
    <li>
        <p><b>{{ print.title }}</b></p>
        <p>{{ print.artist.name }}</p>
        <p>{{ print.size }}</p>
        <p>Price: £{{ print.price }}</p>
        <p>Printing cost: £{{ print.printing_cost }}</p>
        <p>Stock quantity: {{ print.stock }}</p>
        <a href="/prints/{{ print.id }}/edit">Edit</a>
        <form action="/prints/{{ print.id }}/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}