{% extends "base.html" %}

{% block content %}

<div class="new_artist"><a href="prints/new">add new print</a></div>

<ul class="print_image_text">
    {% for print in all_prints %} 
        <li>
            <img src="{{ print.image_print_pathway }}" alt="Print" class="print_print_image">
            <div>{% if print.stock < 50 %}
                {% if print.stock == 0 %}
                    <p class="out">OUT OF STOCK</p>
                {% else %}
                <p class="low">LOW STOCK</p>
                {% endif %}
            {% endif %}</div>
            <p>Title: {{ print.title }}</p>
            <p>Artist: <a href="/artists/{{ print.artist.id }}" class="view_markup">{{ print.artist.name }}</a></p>
            <p>Dimensions: {{ print.size }}</p>
            <p>Price: £{{ print.price }}</p>
            <p>Printing cost: £{{ print.printing_cost }}</p>
            <a href="/prints/{{ print.id }}/markup" class="view_markup">View markup</a>
            <p>Stock quantity: {{ print.stock }}</p>
            <a href="/prints/{{ print.id }}/edit" class="edit">Edit</a>
            <form action="/prints/{{ print.id }}/delete" method="POST" class="delete_print">
                <input type="submit" value="Delete Print" class="button-del">
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}