{% extends "base.html" %}

{% block content %}

<span style="text-transform:uppercase;"><h1 class="artist_name">{{ artist.name }}</h1></span>

<ul class="print_image_text">
    {% for print in prints %} 
    <li>
        <img src="{{ print.image_print_pathway }}" alt="Print" class="print_print_image">
        <p>{{ print.title }}</p>
        <p>{{ artist.name }}</p>
        <p>{{ print.size }}</p>
        <p>Price: £{{ print.price }}</p>
        <p>Printing cost: £{{ print.printing_cost }}</p>
        <a href="/prints/{{ print.id }}/markup" class="view_markup">View markup</a>
        <p>Stock quantity: {{ print.stock }}</p>
        {% if print.stock < 50 %}
            {% if print.stock == 0 %}
                <p>OUT OF STOCK</p>
            {% else %}
            <p>LOW STOCK</p>
            {% endif %}
        {% endif %}
        <a href="/prints/{{ print.id }}/edit" class="edit">Edit</a>
        <form action="/prints/{{ print.id }}/delete" method="POST" class="delete_print">
            <input type="submit" value="Delete Print" class="button-del">
        </form>
    </li>
    {% endfor %}

{% endblock %}