body > header > h1 {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    margin-top: 50px;
    color: lightgray;
}

.navigation {
    text-align: center;
    margin-bottom: 30px;
}
.navigation > a {
    font-family: 'Gilda Display', serif;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navigation > a:visited {
    color: black;
}

.navigation > a:hover {
    color: red;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 45%;

}

.artists {
    font-family: 'Gilda Display', serif;
    padding: 10px;
    color: black;
    text-align: center;
    font-size: x-small;
}
