body > header > h1 {
    text-align: center;
}

body > header > h1 > a {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 50px;
    color: gray;
    text-decoration: none;
}

body > header > h1 > a:hover {
    color: lightgray;
}

.navigation {
    text-align: center;
    margin-bottom: 30px;
}
.navigation > a {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: gray;;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    font-weight: 900;
}

.navigation > a:visited {
    color: gray;
}

.navigation > a:hover {
    color: lightgray;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 48%;
}

.new_artist {
    padding-bottom: 30px;
    text-align: center;
}

.new_artist > a {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: gray;
    text-align: right;
    text-decoration: none;
    padding: 4px 10px;
}

.new_artist > a:hover {
    color: lightgray;
    border-color: black;
}

.select_artist > a {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: gray;
    text-decoration: none;
    text-align: center;
}


.select_artist > a:hover {
    color: lightgray;
}

.print_image {
    width: 350px;
    object-fit: cover;
    height:350px;
    text-align: center;

}

.image_text {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    margin-left: 25px;
}

.image_text > li {
    flex: 30%;
    list-style-type: none;
    padding-bottom: 10px;
}

.delete {
    padding-bottom: 30px;
}

.button {
    font-family: 'Open Sans', sans-serif;
    color: rgb(75, 75, 75);
    background-color: rgba(211, 211, 211, 0.459);
    border-color: white;
    border-radius: 10px;
}
.button:hover {
    background-color: rgb(247, 247, 247);
}

.new_artist_header {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: gray;
    text-align: right;
    text-decoration: none;
    padding: 4px 10px;
    text-align: center;
    padding-bottom: 30px;
}

.form {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: gray;
    text-align:center;
    text-decoration: none;
    padding-top: 50px;
}

.print_image_text {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    
}

.print_image_text > li {
    flex: 25%;
    list-style-type: none;
    padding-bottom: 10px;
}
.print_print_image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    text-align: center;
}

.print_image_text > li > p {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: gray;
    text-align:left;
    text-decoration: none;

}

.view_markup {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: black;
    text-align:left;
    text-decoration: none;
}

.view_markup:hover {
    color: darkgray;
}

.delete_print {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: -2px;
}


.edit {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: black;
    text-align:left;
    text-decoration: none;
}

.edit:hover {
    color: darkgray;
}

.low {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: rgb(255, 0, 0);
    text-align:left;
    text-decoration: none;
}

.form2 {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color: gray;
    text-align:right;
    text-decoration: none;
    padding-top: 50px;
    
}

.form-container {
    display: flex;
    justify-content: center;
    margin-left: -100px;
}

.class_select {
    width: 147px;
    height: 22px
}