<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scottish Contemporary Art Prints</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Scottish Contemporary Art Prints</h1>
        <nav>
            <div class="navigation">
                <a href="/">HOME</a>
                <a href="/prints">PRINTS</a>
                <a href="/artists">ARTISTS</a>
            </div>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>